<!DOCTYPE html>
<html>
<head>
    <title><%= post.titolo %></title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<h1><%= post.titolo %></h1>

<img src="<%= post.image %>" width="400">

<p><strong>Descrizione:</strong> <%= post.descrizione %></p>

<p><strong>Info Extra:</strong> <%= post.infoExtra %></p>

<a href="/gallery">Torna alla gallery</a>

</body>
</html>
